.container {
    margin-top: 150px;
    border: 1px solid #ccc;
}

select {
    width: 10rem;
}

.form-control {
    width: 50% !important;
}
.form-control::placeholder {
    justify-content: center;
    text-align: center;
}

.btn-block {
    width:50% !important;
    justify-content: center;
} 